<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.software.demo.dao.StockRecordMapper">

    <sql id="recordColumn">
        `record_id`, `import_id`, `goods_id`, `price`, `profits`, ```effect_type`, `effect_num`, `effect_time`
    </sql>

    <resultMap id="recordMapping" type="com.software.demo.entity.po.StockRecord">
        <id column="record_id" jdbcType="VARCHAR" property="recordId"/>
        <result column="import_id" jdbcType="VARCHAR" property="importId"/>
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
        <result column="price" jdbcType="DECIMAL" property="price"
                typeHandler="com.software.demo.dao.type.BigDecimalToFloatTypeHandler"/>
        <result column="profits" jdbcType="DECIMAL" property="profits"
                typeHandler="com.software.demo.dao.type.BigDecimalToFloatTypeHandler"/>
        <result column="effect_type" jdbcType="INTEGER" property="effectType"/>
        <result column="effect_num" jdbcType="INTEGER" property="effectNum"/>
        <result column="effect_time" jdbcType="VARCHAR" property="effectTime"/>
    </resultMap>

    <resultMap id="recordDOMapping" type="com.software.demo.entity.domain.StockRecordDO">
        <id column="record_id" jdbcType="VARCHAR" property="recordId"/>
        <result column="import_id" jdbcType="VARCHAR" property="importId"/>
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="price" jdbcType="DECIMAL" property="price"
                typeHandler="com.software.demo.dao.type.BigDecimalToFloatTypeHandler"/>
        <result column="profits" jdbcType="DECIMAL" property="profits"
                typeHandler="com.software.demo.dao.type.BigDecimalToFloatTypeHandler"/>
        <result column="effect_type" jdbcType="INTEGER" property="effectType"/>
        <result column="effect_num" jdbcType="INTEGER" property="effectNum"/>
        <result column="effect_time" jdbcType="VARCHAR" property="effectTime"/>
    </resultMap>

    <select id="maxId" resultType="Integer">
        SELECT MAX(`id`)
        FROM `stock_record`
    </select>

    <insert id="insertRecord">
        INSERT INTO `stock_record` (`record_id`, `import_id`, `goods_id`, `price`, `profits`, `effect_type`, `effect_num`, `effect_time`)
        VALUES (#{recordId}, #{importId}, #{goodsId}, #{price}, #{profits}, #{effectType}, #{effectNum}, #{effectTime})
    </insert>

    <select id="querySellRecord" resultMap="recordMapping">
        SELECT
        <include refid="recordColumn"/>
        FROM `stock_record`
        WHERE `import_id` IS NULL AND `effect_type` == -1
    </select>

    <select id="queryAllRecord" resultMap="recordDOMapping">
        SELECT `record_id`,
               `import_id`,
               `sr`.`goods_id` AS `goods_id`,
               `goods_name`,
               `price`,
               `profits`,
               `effect_type`,
               `effect_num`,
               `effect_time`
        FROM `stock_record` AS `sr`
                 LEFT JOIN `goods_info` AS `gi` on `sr`.`goods_id` = `gi`.`goods_id`
        ORDER BY `effect_time` DESC
    </select>

</mapper>